%p#notice= notice
.row
  .twelve.columns
    .panel.radius.idea
      .two.columns
        .object_state
          %span= image_tag "chrysalis_small.png"
          %span= "Chrysalide #{@chrysali.id}"

        #status{:class => "#{@chrysali.state}"}
        .space
        %p= image_tag @chrysali.user.avatar.url(:medium)
        %p
          %b.letterpress= @chrysali.user.fullname
        %hr

        .button-bar
          %ul.button-group
            %li=link_to "❙ ❙", event_chrysalis_path(:id => @chrysali.id, :event => "pause"), :method => :post, :remote => true,  :class => "tiny secondary button"
            %li=link_to "▶", event_chrysalis_path(:id => @chrysali.id, :event => "select"), :method => :post, :remote => true,  :class => "tiny secondary button"
          %ul.button-group
            %li=link_to "✖", event_chrysalis_path(:id => @chrysali.id, :event => "reject"), :method => :post, :remote => true ,  :class => "tiny alert button"
            %li=link_to "✔", event_chrysalis_path(:id => @chrysali.id, :event => "validate"), :method => :post, :remote => true,   :class => "tiny success button"

      .seven.columns
        %h4.letterpress
          = @chrysali.title
        %p= I18n.l @chrysali.created_at
        %hr
        %p
          %b Description:
          = @chrysali.description
        %p
          %b Application:
          = @chrysali.application
        %hr
        %p
          %b Proposition de valeur:
          = @chrysali.value_proposal
        %hr
        %p
          %b Conditions d'application:
          = @chrysali.conditions
        %hr
        %p
          %b Obstacles à lever:
          = @chrysali.obstacles
        %hr

        %ul.tagit
          - @chrysali.tag_list.each do |tag|
            %li.tag= link_to tag, "#"
      .three.columns
        - like_class = current_user.voted_up_on?(@chrysali) ? "like" : ""
        .like_button{:id => "chrysali_" + @chrysali.id.to_s}
          %span.count= @chrysali.likes.size
          %span= link_to "❤", like_chrysali_path(@chrysali.id), :remote => true, :class => like_class
        %p.letterpress
          %b Chrysalides cousines
        - if @similar_chrysalis
          - @similar_chrysalis.each do |chrysali|
            - unless chrysali == @chrysali
              %li= link_to chrysali.title,  "#", "data-reveal-id" => "description_chrysali_#{chrysali.id}"
        %hr
        %ul.accordion
          %li.active
            .title
              %h5 Savoirs
            .content
              %ul.knowledge_entries
                - @knowledges.each do |k|
                  %li= link_to truncate(k.title, :length => 50), "#", "data-reveal-id" => "description_knowledge_#{k.id}"

          %li
            .title
              %h5 Chenilles
            .content
              %ul.caterpillars_entries
                - @caterpillars.each do |k|
                  %li= link_to truncate(k.title, :length => 50), "#", "data-reveal-id" => "description_caterpillar_#{k.id}"

          %li
            .title
              %h5 Papillons
            .content
              %ul.butterflies_entries
                - @butterflies.each do |k|
                  %li= link_to truncate(k.title, :length => 50), "#", "data-reveal-id" => "description_butterfly_#{k.id}"

          %li
            .title
              %h5 Documents
            .content
              %ul.documents_entries
                - unless @documents.nil?
                  - @documents.each do |k|
                    %li
                      %span= link_to truncate(k.name, :length => 30), k.upload.url(:original, false)

          %li
            .title
              %h5 Plan d'action
            .content
              %ul.tasks_entries
                - @tasks.each do |k|
                  %li= link_to truncate(k.name, :length => 50), "#", "data-reveal-id" => "description_task_#{k.id}"


      .row
        .twelve.columns
          %p= link_to "✄ Déplier les #{pluralize(@comments_count, "commentaire", "commentaires")}", "#", :class => "unfold_comments"
          #comments
            .chrysali
            - @comment = Comment.new
            = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
              = hidden_field_tag("commentable", @chrysali.class.name)
              = hidden_field_tag("type", 1)
              = hidden_field_tag("id", @chrysali.id)
              = f.input :body, :label => false, :placeholder => "✍ Votre message ..."
              .form-actions
                = f.submit 'Enregistrer', :class => "radius button"


            - @all_comments.each do |node|
              %ul.comment
                = render node, :idea => @chrysali
          %hr
          %ul.inline-list
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-edit
            = link_to 'Editer', edit_chrysali_path(@chrysali)
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-add-doc
            = link_to 'Nouvelle chrysalide', new_chrysali_path
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-remove
            = link_to 'Supprimer la chrysalide', @chrysali, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cette chrysalide ?' }
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-left-arrow
            = link_to 'Retour à la liste', chrysalis_path
            %a{:style => "padding-left: 10px"}
            \|
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-paper-clip
            = link_to 'Associer un savoir', "#", "data-reveal-id" => "add_knowledge"
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-plus
            = link_to 'Associer une chenille', "#", "data-reveal-id" => "add_caterpillar"
            %i.general.foundicon-plus
            = link_to 'Associer une action', "#", "data-reveal-id" => "add_task"
            \|
            %a{:style => "padding-left: 10px"}
            %i.social.foundicon-chat
            = link_to 'Ajouter un commentaire', "#", :class => "toggle_comment"

#add_knowledge{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un savoir à cette chrysalide
  = render :partial => 'add_knowledge', :locals => { :chrysali => @chrysali }
  %a.close-reveal-modal &#215;

#add_caterpillar{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer une chenille à cette chrysalide
  = render :partial => 'add_caterpillars_modal', :locals => { :chrysali => @chrysali }
  %a.close-reveal-modal &#215;

#add_task{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer une action à cette chrysalide
  = render 'shared/task_form', :entity => @entity,  :taskable_type => "chrysali", :taskable => @chrysali.id
  %a.close-reveal-modal &#215;

- if @similar_chrysalis
  - @similar_chrysalis.each do |chrysali|
    - unless chrysali == @chrysali
      %div{:id => "description_chrysali_#{chrysali.id}", :class => "reveal-modal [expand, xlarge, large, medium, small]"}
        = render :partial => "shared/chrysali_modal", :locals => { :chrysali => chrysali }
        %a.close-reveal-modal &#215;

- @caterpillars.each do |k|
  %div{:id => "description_caterpillar_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/caterpillar_modal", :locals => {:caterpillar => k}
    %a.close-reveal-modal &#215;

- @butterflies.each do |k|
  %div{:id => "description_butterfly_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/butterfly_modal", :locals => {:butterfly => k}
    %a.close-reveal-modal &#215;

- @knowledges.each do |k|
  %div{:id => "description_knowledge_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/knowledge_modal", :locals => {:knowledge => k}
    %a.close-reveal-modal &#215;

- @tasks.each do |k|
  %div{:id => "description_task_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/task_modal", :locals => {:task => k}
    %a.close-reveal-modal &#215;















