%p#notice= notice

.row
  .twelve.columns
    .panel.radius.idea
      .two.columns
        .object_state
          %span= image_tag "eggs_small.png"
          %span Oeuf
        .space
        %p= image_tag @idea.user.avatar.url(:medium)
        %p
          %b Auteur:
          = @idea.user.fullname
      .six.columns
        %h4.letterpress
          = @idea.title
        %hr
          %p
            %b Description:
            = @idea.description
        %hr
        %ul.tagit
          - @idea.tag_list.each do |tag|
            %li.tag= link_to tag, "#"
      .four.columns
        - like_class = current_user.voted_up_on?(@idea) ? "like" : ""
        .like_button{:id => "idea_" + @idea.id.to_s}
          %span.count= @idea.likes.size
          %span= link_to "❤", like_idea_path(@idea.id), :remote => true, :class => like_class
        %p.letterpress
          %b Idées cousines
        - if @similar_ideas
          - @similar_ideas.each do |idea|
            - unless idea == @idea
              %li= link_to idea.title, idea_path(idea)
        %hr
        %ul.accordion
          %li.active
            .title
              %h5 Savoirs
            .content
              %ul.knowledge_entries
                - @knowledges.each do |k|
                  %li= link_to k.title, knowledge_path(k)


          %li
            .title
              %h5 Chenilles
            .content
              %ul.caterpillar_entries
                - unless @caterpillars.nil?
                  - @caterpillars.each do |c|
                    %li= link_to c.title, caterpillar_path(c)
          %li
            .title
              %h5 Documents
            .content
              %ul.documents_entries
                - unless @documents.nil?
                  - @documents.each do |k|
                    %li
                      %span= image_tag(extension_of k.upload.url(:icon))
                      %span= link_to k.name, k.upload.url(:original, false)

      .row
        .twelve.columns
          %p= link_to "Déplier les #{pluralize(@comments_count, "commentaire", "commentaires")}", "#", :class => "unfold_comments"
          #comments
            .idea
            - @comment = Comment.new
            = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
              = hidden_field_tag("commentable", @idea.class.name)
              = hidden_field_tag("type", 1)
              = hidden_field_tag("id", @idea.id)
              = f.input :body, :label => false, :placeholder => "Votre message ..."
              .form-actions
                = f.submit 'Enregistrer', :class => "radius button"

            %ul
              - @all_comments.each do |node|
                = render node, :idea => @idea
          %hr
          = link_to 'Editer', edit_idea_path(@idea)
          \|
          = link_to 'Nouvel oeuf', new_idea_path
          \|
          = link_to 'Supprimer l\'oeuf', @idea, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cet oeuf ?' }
          \|
          = link_to 'Retour à la liste', ideas_path
          \|
          = link_to 'Ajouter un commentaire', "#", :class => "toggle_comment"
          \|
          = link_to 'Associer un savoir', "#", "data-reveal-id" => "add_knowledges"
          \|
          = link_to 'Associer une chenille', "#", "data-reveal-id" => "add_caterpillars"
          %hr


#add_knowledges{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un savoir à cet oeuf
  = render :partial => 'add_knowledges_modal', :locals => { :idea => @idea }
  %a.close-reveal-modal &#215;

#add_caterpillars{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer une chenille à cet oeuf
  = render :partial => 'add_caterpillars_modal', :locals => { :idea => @idea }
  %a.close-reveal-modal &#215;

