%p#notice= notice

.row
  .twelve.columns
    .panel.radius.idea
      .two.columns
        .object_state
          %span= image_tag "eggs_small.png"
          %span= "Oeuf #{@idea.id}"
        .space
        %p= image_tag @idea.user.avatar.url(:medium)
        %p
          %b.letterpress= @idea.user.fullname

      .six.columns
        %h4.letterpress
          = @idea.title
        %p= I18n.l @idea.created_at
        %hr
          %p
            %b Description:
            = @idea.description
        %hr
        %ul.tagit
          - @idea.tag_list.each do |tag|
            %li.tag= link_to tag, "#"
        %ul.tagit
          - @idea.taxon_list.each do |tag|
            %li.taxon= link_to tag, "#"
      .four.columns
        - like_class = current_user.voted_up_on?(@idea) ? "like" : ""
        .like_button{:id => "idea_" + @idea.id.to_s}
          %span.count= @idea.likes.size
          %span= link_to "❤", like_idea_path(@idea.id), :remote => true, :class => like_class
        %p.letterpress
          %b Idées cousines
        - if @similar_ideas
          - @similar_ideas.each do |idea|
            - unless idea == @idea
              %li= link_to truncate(idea.title, :length => 50), idea_path(idea)
        %hr
        %ul.accordion
          %li.active
            .title
              %h5
                = "Savoirs"
            .content
              %ul.knowledge_entries
                - @knowledges.each do |k|
                  %li= link_to truncate(k.title, :length => 50), k

          %li
            .title
              %h5 Chenilles
            .content
              %ul.caterpillar_entries
                - unless @caterpillars.nil?
                  - @caterpillars.each do |c|
                    %li= link_to truncate(c.title, :length => 50), c
          %li
            .title
              %h5 Documents
            .content
              %ul.documents_entries
                - unless @documents.nil?
                  - @documents.each do |k|
                    %li
                      / %span= image_tag(extension_of k.upload.url(:icon))
                      %span= link_to truncate(k.name, :length => 50), k.upload.url(:original, false)

      .row
        .twelve.columns
          %p= link_to "✄ Déplier les #{pluralize(@comments_count, "commentaire", "commentaires")}", "#", :class => "unfold_comments"
          #comments
            .idea
            - @comment = Comment.new
            = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
              = hidden_field_tag("commentable", @idea.class.name)
              = hidden_field_tag("type", 1)
              = hidden_field_tag("id", @idea.id)
              = f.input :body, :label => false, :placeholder => "✍ Votre message ..."
              .form-actions
                = f.submit 'Enregistrer', :class => "radius button"

            - @all_comments.each do |node|
              %ul.comment
                = render node, :idea => @idea
          %hr
          %ul.inline-list
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-edit
            = link_to 'Editer', edit_idea_path(@idea)
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-add-doc
            = link_to 'Nouvel oeuf', new_idea_path
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-remove
            = link_to 'Supprimer l\'oeuf', @idea, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cet oeuf ?' }
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-left-arrow
            = link_to 'Retour à la liste', ideas_path
            %a{:style => "padding-left: 10px"}
            \|
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-paper-clip
            = link_to 'Associer un savoir', "#", "data-reveal-id" => "add_knowledges"
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-plus
            = link_to 'Associer une chenille', "#", "data-reveal-id" => "add_caterpillars"
            %a{:style => "padding-left: 10px"}
            \|
            %a{:style => "padding-left: 10px"}
            %i.social.foundicon-chat
            = link_to 'Ajouter un commentaire', "#", :class => "toggle_comment"


#add_knowledges{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un savoir à cet oeuf
  = render :partial => 'add_knowledges_modal', :locals => { :idea => @idea }
  %a.close-reveal-modal &#215;

#add_caterpillars{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer une chenille à cet oeuf
  = render :partial => 'add_caterpillars_modal', :locals => { :idea => @idea }
  %a.close-reveal-modal &#215;

