%li
  %b= comment.user.fullname + " : "
  = comment.body
  %p= link_to 'Répondre', "#", :class => "toggle_comment"
  .idea
    - @comment = Comment.new
    = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
      = hidden_field_tag("commentable", idea.class.name)
      = hidden_field_tag("comment_id", comment.id)
      = hidden_field_tag("type", 2)
      = hidden_field_tag("id", idea.id)
      = f.input :body, :label => false, :placeholder => "Votre message ..."
      .form-actions
        = f.submit 'Enregistrer', :class => "radius button"

  - unless comment.children.empty?
    %ul
      = render comment.children, :idea => idea

