%h4.letterpress Liste des actions

%table
  %tr
    %th Nom
    %th Responsable
    %th Date
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.owner_id
      %td= task.due_date
      %td= link_to 'Voir', task
      %td= link_to 'Editer', edit_task_path(task)
      %td= link_to 'Supprimer', task, method: :delete, data: { confirm: 'Are you sure?' }

%br
%h5
  %i.general.foundicon-add-doc
  = link_to 'Nouvelle action', new_task_path, :class => "letterpress"
