%p#notice= notice

.row
  .twelve.columns
    .panel.radius.idea
      .two.columns
        .object_state
          %span= image_tag "caterpillar_small.png"
          %span Chenille
        .space
        %p= image_tag @caterpillar.user.avatar.url(:medium)
        %p
          %b Auteur:
          = @caterpillar.user.fullname
      .seven.columns
        %h4.letterpress
          = @caterpillar.title
        %hr
        %p
          %b Description:
          = @caterpillar.description
        %hr
        %ul.tagit
          - @caterpillar.tag_list.each do |tag|
            %li.tag= link_to tag, "#"
      .three.columns
        - like_class = current_user.voted_up_on?(@caterpillar) ? "like" : ""
        .like_button{:id => "caterpillar_" + @caterpillar.id.to_s}
          %span.count= @caterpillar.likes.size
          %span= link_to "❤", like_caterpillar_path(@caterpillar.id), :remote => true, :class => like_class
        %p.letterpress
          %b Chenilles cousines
        - if @similar_caterpillars
          - @similar_caterpillars.each do |caterpillar|
            - unless caterpillar == @caterpillar
              %li= link_to caterpillar.title, caterpillar_path(caterpillar)
        %hr
        %ul.accordion
          %li.active
            .title
              %h5 Savoirs
            .content
              %ul.knowledge_entries
                - @knowledges.each do |k|
                  %li= k.title


          %li
            .title
              %h5 Chenilles
            .content
              %ul.caterpillar_entries
                %li Chenille A
                %li Chenille B
                %li Chenille A
                %li Chenille B
                %li Chenille A
                %li Chenille B
                %li Chenille A
                %li Chenille B


      .row
        .twelve.columns
          %p= link_to "Déplier les #{pluralize(@comments_count, "commentaire", "commentaires")}", "#", :class => "unfold_comments"
          #comments
            .caterpillar
            - @comment = Comment.new
            = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
              = hidden_field_tag("commentable", @caterpillar.class.name)
              = hidden_field_tag("type", 1)
              = hidden_field_tag("id", @caterpillar.id)
              = f.input :body, :label => false, :placeholder => "Votre message ..."
              .form-actions
                = f.submit 'Enregistrer', :class => "radius button"

            %ul
              - @all_comments.each do |node|
                = render node, :idea => @caterpillar
          %hr
          = link_to 'Editer', edit_caterpillar_path(@caterpillar)
          \|
          = link_to 'Nouvel oeuf', new_caterpillar_path
          \|
          = link_to 'Supprimer la chenille', @caterpillar, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cette chenille ?' }
          \|
          = link_to 'Retour à la liste', caterpillars_path
          \|
          = link_to 'Ajouter un commentaire', "#", :class => "toggle_comment"
          \|
          = link_to 'Associer un savoir', "#", "data-reveal-id" => "add_knowledge"
          \|
          = link_to 'Associer une chenille', "#", :class => "toggle_comment", "data-reveal-id" => "myModal2"

#add_knowledge{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un savoir à cette chenille
  = render :partial => 'add_knowledge', :locals => { :caterpillar => @caterpillar }
  %a.close-reveal-modal &#215;






