%p#notice= notice

.row
  .twelve.columns
    .panel.radius.idea
      .two.columns
        .object_state
          %span= image_tag "caterpillar_small.png"
          %span= "Chenille #{@caterpillar.id}"

        #status{:class => "#{@caterpillar.state}"}
        .space
        %p= image_tag @caterpillar.user.avatar.url(:medium)
        %p
          %b.letterpress= @caterpillar.user.fullname
        %hr

        .button-bar
          %ul.button-group
            %li=link_to "❙ ❙", event_caterpillars_path(:id => @caterpillar.id, :event => "pause"), :method => :post, :remote => true,  :class => "tiny secondary button"
            %li=link_to "▶", event_caterpillars_path(:id => @caterpillar.id, :event => "select"), :method => :post, :remote => true,  :class => "tiny secondary button"
          %ul.button-group
            %li=link_to "✖", event_caterpillars_path(:id => @caterpillar.id, :event => "reject"), :method => :post, :remote => true ,  :class => "tiny alert button"
            %li=link_to "✔", event_caterpillars_path(:id => @caterpillar.id, :event => "validate"), :method => :post, :remote => true,   :class => "tiny success button"

      .seven.columns
        %h4.letterpress
          = @caterpillar.title
        %p= I18n.l @caterpillar.created_at
        %hr
        %p
          %b Description:
          = @caterpillar.description
        %p
          %b Application:
          = @caterpillar.application
        %hr

        %ul.tagit
          - @caterpillar.tag_list.each do |tag|
            %li.tag= link_to tag, "#"
      .three.columns
        - like_class = current_user.voted_up_on?(@caterpillar) ? "like" : ""
        .like_button{:id => "caterpillar_" + @caterpillar.id.to_s}
          %span.count= @caterpillar.likes.size
          %span= link_to "❤", like_caterpillar_path(@caterpillar.id), :remote => true, :class => like_class
        %p.letterpress
          %b Chenilles cousines
        - if @similar_caterpillars
          - @similar_caterpillars.each do |caterpillar|
            - unless caterpillar == @caterpillar
              %li= link_to caterpillar.title,  "#", "data-reveal-id" => "description_caterpillar"
        %hr
        %ul.accordion
          %li.active
            .title
              %h5 Savoirs
            .content
              %ul.knowledge_entries
                - @knowledges.each do |k|
                  %li= link_to truncate(k.title, :length => 50), k

          %li
            .title
              %h5 Oeufs
            .content
              %ul.ideas_entries
                - @ideas.each do |k|
                  %li= link_to truncate(k.title, :length => 50), k

          %li
            .title
              %h5 Documents
            .content
              %ul.documents_entries
                - unless @documents.nil?
                  - @documents.each do |k|
                    %li
                      / %span= image_tag(extension_of k.upload.url(:icon))
                      %span= link_to truncate(k.name, :length => 30), k.upload.url(:original, false)


      .row
        .twelve.columns
          %p= link_to "✄ Déplier les #{pluralize(@comments_count, "commentaire", "commentaires")}", "#", :class => "unfold_comments"
          #comments
            .caterpillar
            - @comment = Comment.new
            = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
              = hidden_field_tag("commentable", @caterpillar.class.name)
              = hidden_field_tag("type", 1)
              = hidden_field_tag("id", @caterpillar.id)
              = f.input :body, :label => false, :placeholder => "Votre message ..."
              .form-actions
                = f.submit 'Enregistrer', :class => "radius button"


            - @all_comments.each do |node|
              %ul.comment
                = render node, :idea => @caterpillar
          %hr
          %ul.inline-list
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-edit
            = link_to 'Editer', edit_caterpillar_path(@caterpillar)
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-add-doc
            = link_to 'Nouvel oeuf', new_caterpillar_path
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-remove
            = link_to 'Supprimer la chenille', @caterpillar, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cette chenille ?' }
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-left-arrow
            = link_to 'Retour à la liste', caterpillars_path
            %a{:style => "padding-left: 10px"}
            \|
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-paper-clip
            = link_to 'Associer un savoir', "#", "data-reveal-id" => "add_knowledge"
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-plus
            = link_to 'Associer un oeuf', "#", "data-reveal-id" => "add_idea"
            \|
            %a{:style => "padding-left: 10px"}
            %i.social.foundicon-chat
            = link_to 'Ajouter un commentaire', "#", :class => "toggle_comment"

#add_knowledge{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un savoir à cette chenille
  = render :partial => 'add_knowledge', :locals => { :caterpillar => @caterpillar }
  %a.close-reveal-modal &#215;

#add_idea{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un oeuf à cette chenille
  = render :partial => 'add_ideas_modal', :locals => { :caterpillar => @caterpillar }
  %a.close-reveal-modal &#215;

#description_caterpillar{:class => "reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Chenille:
  %h6= link_to @caterpillar.title, @caterpillar
  %h4.letterpress Description
  = @caterpillar.description
  %h4.letterpress Application
  = @caterpillar.application
  %a.close-reveal-modal &#215;







