.panel.radius.idea.element
  .object_state= image_tag "caterpillar_small.png"
  %h5.title.letterpress
    = link_to caterpillar.title, caterpillar
    - like_class = current_user.voted_up_on?(caterpillar) ? "like" : ""
  .like_button{:id => "caterpillar_" + caterpillar.id.to_s}
    %span.count= caterpillar.likes.size
    %span= link_to "â¤", like_caterpillar_path(caterpillar.id), :remote => true, :class => like_class
  .description
    = truncate(caterpillar.description, :length => 127)
  - @comments_count = caterpillar.root_comments.size
  .comments= pluralize(@comments_count, "commentaire", "commentaires")


