- tags = caterpillar.tag_list.to_s.gsub(","," ")
.panel.radius.idea.element{:class => tags, "data-score" => caterpillar.likes.size }
  .object_state
    = link_to image_tag("caterpillar_small.png"), caterpillar
    %span.the_id= caterpillar.id
    #status{:class => "#{caterpillar.state}"}
  %h5.title.letterpress
    = link_to truncate(caterpillar.title, :length => 200), "#", "data-reveal-id" => "description_caterpillar_#{caterpillar.id}"
    - like_class = current_user.voted_up_on?(caterpillar) ? "like" : ""
  .like_button{:id => "caterpillar_" + caterpillar.id.to_s}
    %span.count= caterpillar.likes.size
    %span= link_to "â¤", like_caterpillar_path(caterpillar.id), :remote => true, :class => like_class
  .description
    = link_to truncate(caterpillar.description, :length => 80), "#", "data-reveal-id" => "description_caterpillar_#{caterpillar.id}"
  - @comments_count = caterpillar.root_comments.size
  .comments= pluralize(@comments_count, "commentaire", "commentaires")
  .selected_box
    = check_box_tag 'caterpillar[]', caterpillar, false, :id => "selected_caterpillars_#{caterpillar.id}",  :class => "clickable_box"




