%h4.object_state
  %span= image_tag "chrysalis_small.png"
  %span.letterpress= "Chrysalide N°#{chrysali.id}"
  %h6= link_to chrysali.title, chrysali
  %h4.letterpress Description
  = chrysali.description
  %h4.letterpress Proposition de valeur
  = chrysali.value_proposal
  %hr
  %ul.inline-list.letterpress
    %a{:style => "padding-left: 10px"}
    %i.accessibility.foundicon-glasses
    = link_to "Voir la fiche et les commentaires", chrysali

