.row
  .twelve.columns
    .panel.radius.idea
      .object_state= image_tag "eggs_small.png"
      %h3.title.letterpress
        = link_to idea.title, idea
        - like_class = current_user.voted_up_on?(idea) ? "like" : ""
      .like_button{:id => "idea_" + idea.id.to_s}
        %span.count= idea.likes.size
        %span= link_to "â¤", like_idea_path(idea.id), :remote => true, :class => like_class
      .row
        .two.columns
          = image_tag idea.user.avatar.url(:medium)
          %p
            %b Auteur:
            = idea.user.fullname
        .ten.columns
          %p
            %b Description:
            = idea.description
          %br
          %ul.tagit
            - idea.tag_list.each do |tag|
              %li.tag= link_to tag, "#"
          %br
          - @comments_count = idea.root_comments.size
          %p= pluralize(@comments_count, "commentaire", "commentaires")

      .row
        .twelve.columns
          = link_to 'Editer', edit_idea_path(idea)

