- tags = idea.tag_list.to_s.gsub(","," ")
.panel.radius.idea.element{:class => tags, "data-score" => idea.likes.size }
  .object_state
    = link_to image_tag("eggs_small.png"), idea
    %span N°
    %span.the_id= idea.id
  %h5.title.letterpress
    = link_to truncate(idea.title, :length => 100), "#", "data-reveal-id" => "description_idea_#{idea.id}"
    - like_class = current_user.voted_up_on?(idea) ? "like" : ""
  .like_button{:id => "idea_" + idea.id.to_s}
    %span.count= idea.likes.size
    %span= link_to "❤", like_idea_path(idea.id), :remote => true, :class => like_class
  .description
    = link_to truncate(idea.description, :length => 60), "#", "data-reveal-id" => "description_idea_#{idea.id}"
  - @comments_count = idea.root_comments.size
  .comments= pluralize(@comments_count, "commentaire", "commentaires")
  .selected_box
    = check_box_tag 'idea[]', idea, false, :id => "selected_ideas_#{idea.id}",  :class => "clickable_box"










