.panel.radius.idea.element
  .object_state
    = link_to image_tag("eggs_small.png"), idea
    %span= idea.id
  %h5.title.letterpress
    = link_to truncate(idea.title, :length => 100), "#", "data-reveal-id" => "description_idea_#{idea.id}"
    - like_class = current_user.voted_up_on?(idea) ? "like" : ""
  .like_button{:id => "idea_" + idea.id.to_s}
    %span.count= idea.likes.size
    %span= link_to "â¤", like_idea_path(idea.id), :remote => true, :class => like_class
  .description
    = link_to truncate(idea.description, :length => 60), "#", "data-reveal-id" => "description_idea_#{idea.id}"
  - @comments_count = idea.root_comments.size
  .comments= pluralize(@comments_count, "commentaire", "commentaires")










