.panel.radius.idea.element
  .object_state= image_tag "eggs_small.png"
  %h5.title.letterpress
    = link_to idea.title, idea
    - like_class = current_user.voted_up_on?(idea) ? "like" : ""
  .like_button{:id => "idea_" + idea.id.to_s}
    %span.count= idea.likes.size
    %span= link_to "â¤", like_idea_path(idea.id), :remote => true, :class => like_class
  .description
    = truncate(idea.description, :length => 127)
  - @comments_count = idea.root_comments.size
  .comments= pluralize(@comments_count, "commentaire", "commentaires")


