= simple_form_for @task, :remote => true do |f|
  = f.error_notification
  .form-inputs
    .panel.radius
      = f.input :taskable_id,  :as => :hidden, :input_html => { :value => taskable }
      = f.input :taskable_type,  :as => :hidden, :input_html => { :value => taskable_type }
      = f.input :name, :label => "Titre"
      = f.input :description, :input_html => { :cols => 50, :rows => 4 }, :label => "Description"

      .row
        .five.columns
          = f.association :user, :label => "Personne responsable", :label_method => :fullname
        .three.columns
          = f.input :due_date, :as => :string, :input_html => { :class => 'jquery-ui-date'},  :label => "Date cible"
        .two.columns
          = f.input :importance, :collection => 1..5, :label => "Importance"
        .two.columns
          = f.input :accessibility,  :collection => 1..5, :label => "Niveau de difficulté"
  %br
  .actions
    = f.submit 'Enregistrer', :class => "radius button"
