= form_tag( {:controller => 'chrysalis', :action => 'search'}, :method => 'get', :remote => true) do
  .row.collapse
    .nine.columns
      = text_field_tag :search, params[:search], :id => 'search_field'
    .three.columns
      = submit_tag "Rechercher", :name => nil, :class => "button expand postfix"
  = link_to_function "Clear", "$('search_field').clear()"
%p Résultats
#search_results
  = form_tag add_chrysalis_butterfly_path, :method => :post, :remote => true do
    = hidden_field_tag("id", butterfly.id)
    %ul
    = submit_tag "Associer les chrysalides sélectionnées", :class => "small success radius button"


