%p#notice= notice
.row
  .twelve.columns
    .panel.radius.idea
      .two.columns
        .object_state
          %span= image_tag "butterfly_small.png"
          %span= "Papillon #{@butterfly.id}"

        #status{:class => "#{@butterfly.state}"}
        .space
        %p= image_tag @butterfly.user.avatar.url(:medium)
        %p
          %b.letterpress= @butterfly.user.fullname
        %hr

        .button-bar
          %ul.button-group
            %li=link_to "❙ ❙", event_butterflies_path(:id => @butterfly.id, :event => "pause"), :method => :post, :remote => true,  :class => "tiny secondary button"
            %li=link_to "▶", event_butterflies_path(:id => @butterfly.id, :event => "select"), :method => :post, :remote => true,  :class => "tiny secondary button"
          %ul.button-group
            %li=link_to "✖", event_butterflies_path(:id => @butterfly.id, :event => "reject"), :method => :post, :remote => true ,  :class => "tiny alert button"
            %li=link_to "✔", event_butterflies_path(:id => @butterfly.id, :event => "validate"), :method => :post, :remote => true,   :class => "tiny success button"

      .seven.columns
        %h4.letterpress
          = @butterfly.title
        %p= I18n.l @butterfly.created_at
        %hr
        %p
          %b Description:
          = @butterfly.description

        %table.butterfly
          %tr
            %th
              %b Partenariats clés
            %th
              %b Activités clés
            %th{:colspan => 2}
              %b Proposition de valeur
            %th
              %b Relation client:
            %th
              %b Segments de marché
          %tr
            %td{:rowspan => 3}
              %li= @butterfly.key_partnerships
            %td
              %li= @butterfly.key_activities
            %td{:colspan => 2, :rowspan => 3}
              %li= @butterfly.value_proposal
            %td
              %li= @butterfly.customer_relationship
            %td{:rowspan => 3}
              %li= @butterfly.customer_segments
          %tr
            %th
              %b Ressources clés
            %th
              %b Canaux de distribution
          %tr
            %td
              = @butterfly.key_resources
            %td
              = @butterfly.channels
          %tr
            %th{:colspan => 3}
              %b Structure de coût:
            %th{:colspan => 3}
              %b Flux de revenu:
          %tr
            %td{:colspan => 3}
              %li= @butterfly.cost_structure
            %td{:colspan => 3}
              %li= @butterfly.revenue_streams


        %hr

        %ul.tagit
          - @butterfly.tag_list.each do |tag|
            %li.tag= link_to tag, "#"
      .three.columns
        - like_class = current_user.voted_up_on?(@butterfly) ? "like" : ""
        .like_button{:id => "butterfly_" + @butterfly.id.to_s}
          %span.count= @butterfly.likes.size
          %span= link_to "❤", like_butterfly_path(@butterfly.id), :remote => true, :class => like_class
        %p.letterpress
          %b Papillons cousins
        - if @similar_butterflies
          - @similar_butterflies.each do |butterfly|
            - unless butterfly == @butterfly
              %li= link_to butterfly.title,  "#", "data-reveal-id" => "description_butterfly_#{butterfly.id}"
        %hr
        %ul.accordion
          %li.active
            .title
              %h5 Savoirs
            .content
              %ul.knowledge_entries
                - @knowledges.each do |k|
                  %li= link_to truncate(k.title, :length => 50), "#", "data-reveal-id" => "description_knowledge_#{k.id}"

          %li
            .title
              %h5 Chrysalides
            .content
              %ul.chrysalis_entries
                - @chrysalis.each do |k|
                  %li= link_to truncate(k.title, :length => 50), "#", "data-reveal-id" => "description_chrysali_#{k.id}"

          %li
            .title
              %h5 Documents
            .content
              %ul.documents_entries
                - unless @documents.nil?
                  - @documents.each do |k|
                    %li
                      %span= link_to truncate(k.name, :length => 30), k.upload.url(:original, false)

          %li
            .title
              %h5 Plan d'action
            .content
              %ul.tasks_entries
                - @tasks.each do |k|
                  %li= link_to truncate(k.name, :length => 50), "#", "data-reveal-id" => "description_task_#{k.id}"


      .row
        .twelve.columns
          %p= link_to "✄ Déplier les #{pluralize(@comments_count, "commentaire", "commentaires")}", "#", :class => "unfold_comments"
          #comments
            .butterfly
            - @comment = Comment.new
            = simple_form_for @comment, :html => {:class => "new_comment"}, :remote => true do |f|
              = hidden_field_tag("commentable", @butterfly.class.name)
              = hidden_field_tag("type", 1)
              = hidden_field_tag("id", @butterfly.id)
              = f.input :body, :label => false, :placeholder => "✍ Votre message ..."
              .form-actions
                = f.submit 'Enregistrer', :class => "radius button"


            - @all_comments.each do |node|
              %ul.comment
                = render node, :idea => @butterfly
          %hr
          %ul.inline-list
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-edit
            = link_to 'Editer', edit_butterfly_path(@butterfly)
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-add-doc
            = link_to 'Nouveau papillon', new_butterfly_path
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-remove
            = link_to 'Supprimer le papillon', @butterfly, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer ce papillon ?' }
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-left-arrow
            = link_to 'Retour à la liste', butterflies_path
            %a{:style => "padding-left: 10px"}
            \|
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-paper-clip
            = link_to 'Associer un savoir', "#", "data-reveal-id" => "add_knowledge"
            %a{:style => "padding-left: 10px"}
            %i.general.foundicon-plus
            = link_to 'Associer une chrysalide', "#", "data-reveal-id" => "add_chrysali"
            %i.general.foundicon-plus
            = link_to 'Associer une action', "#", "data-reveal-id" => "add_task"
            \|
            %a{:style => "padding-left: 10px"}
            %i.social.foundicon-chat
            = link_to 'Ajouter un commentaire', "#", :class => "toggle_comment"

#add_knowledge{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer un savoir à ce papillon
  = render :partial => 'add_knowledge', :locals => { :butterfly => @butterfly }
  %a.close-reveal-modal &#215;

#add_chrysali{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer une chrysalide à ce papillon
  = render :partial => 'add_chrysalis_modal', :locals => { :butterfly => @butterfly }
  %a.close-reveal-modal &#215;

#add_task{:class =>"reveal-modal [expand, xlarge, large, medium, small]"}
  %h4.letterpress Associer une action à ce papillon
  = render 'shared/task_form', :entity => @entity,  :taskable_type => "butterfly", :taskable => @butterfly.id
  %a.close-reveal-modal &#215;

- if @similar_butterflies
  - @similar_butterflies.each do |butterfly|
    - unless butterfly == @butterfly
      %div{:id => "description_butterfly_#{butterfly.id}", :class => "reveal-modal [expand, xlarge, large, medium, small]"}
        = render :partial => "shared/butterfly_modal", :locals => { :butterfly => butterfly }
        %a.close-reveal-modal &#215;

- @chrysalis.each do |k|
  %div{:id => "description_chrysali_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/chrysali_modal", :locals => {:chrysali => k}
    %a.close-reveal-modal &#215;

- @knowledges.each do |k|
  %div{:id => "description_knowledge_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/knowledge_modal", :locals => {:knowledge => k}
    %a.close-reveal-modal &#215;

- @tasks.each do |k|
  %div{:id => "description_task_#{k.id}", :class =>"reveal-modal [expand, xlarge, large, medium, small]"}
    = render :partial => "shared/task_modal", :locals => {:task => k}
    %a.close-reveal-modal &#215;















