%h3.letterpress
  = "Choisissez votre défi créatif !"

- @challenges.each do |challenge|

  .challenge.panel.radius
    = link_to "", set_challenge_path(challenge.id), :class => :door
    %h3.letterpress= challenge.name
    = challenge.description

%br
%h5
  %i.general.foundicon-add-doc
  = link_to 'Nouveau défi', new_challenge_path, :class => "letterpress"
