%p#notice= notice

%p
  %b Name:
  = @challenge.name
%p
  %b Description:
  = @challenge.description
%p
  %b Start at:
  = @challenge.start_at
%p
  %b End at:
  = @challenge.end_at
%p
  %b Owner:
  = @challenge.owner_id
%p
  %b State:
  = @challenge.state

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
