.panel.radius
  = simple_form_for @knowledge do |f|
    - if @knowledge.errors.any?
      #error_explanation
        %h2= "#{pluralize(@knowledge.errors.count, "error")} prohibited this knowledge from being saved:"
        %ul
          - @knowledge.errors.full_messages.each do |msg|
            %li= msg

    = f.input :title, :label => 'Titre'
    = f.input :description, :label => 'Description', :as => :text, :input_html => { :cols => 50, :rows => 3 }
    = f.association :user, label_method: :fullname, :label => 'Rédacteur'
    = f.hidden_field :tag_list, id:"tag_list"
    %label Mots clés
    %ul#mytags
    .form-actions
      = f.submit 'Enregistrer', :class => "radius button"

