.panel.radius
  = simple_form_for @knowledge do |f|
    - if @knowledge.errors.any?
      #error_explanation
        %h2= "#{pluralize(@knowledge.errors.count, "error")} prohibited this knowledge from being saved:"
        %ul
          - @knowledge.errors.full_messages.each do |msg|
            %li= msg

    = f.input :title, :label => 'Titre'
    = f.input :author, :label => 'Auteur'
    = f.input :description, :label => 'Description', :as => :text, :input_html => { :cols => 50, :rows => 6 }
    = f.association :user, label_method: :fullname, :label => 'Rédacteur'
    = f.hidden_field :tag_list, id:"tag_list"
    %label Mots clés
    %ul#mytags
    %div.section#f_documents
      %h5.letterpress Documents
      %ul#documents.documents
        = f.simple_fields_for :documents do |document|
          = render 'document_fields', :f => document
        .links
          = link_to_add_association 'Ajouter un nouveau document', f, :documents

    .form-actions
      = f.submit 'Enregistrer', :class => "radius button"

