%h3.letterpress Liste des savoirs

%table
  %tr
    %th Titre
    %th Description
    %th Auteur
    %th
    %th
    %th

  - @knowledges.each do |knowledge|
    %tr
      %td= knowledge.title
      %td= knowledge.description
      %td= knowledge.author
      %td= link_to 'Afficher', knowledge
      %td= link_to 'Editer', edit_knowledge_path(knowledge)
      %td= link_to 'Supprimer', knowledge, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nouveau savoir', new_knowledge_path
