%h1 Listing knowledges

%table
  %tr
    %th Title
    %th Description
    %th Author
    %th
    %th
    %th

  - @knowledges.each do |knowledge|
    %tr
      %td= knowledge.title
      %td= knowledge.description
      %td= knowledge.author
      %td= link_to 'Show', knowledge
      %td= link_to 'Edit', edit_knowledge_path(knowledge)
      %td= link_to 'Destroy', knowledge, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Knowledge', new_knowledge_path
