%p#notice= notice
.row
  .twelve.columns
    .panel.radius.idea
      %h4.letterpress= @knowledge.title
      %p
        %b Description:
        = @knowledge.description
      %p
        %b Auteur:
        = @knowledge.author
      %p
        %b Rédacteur:
        = @knowledge.user.fullname if @knowledge.user
      %p
        %b Documents associés (cliquer sur le lien pour télécharger le document):
        - @documents.each do |doc|

          %li{:style => " list-style: none;"}
            %span= image_tag(extension_of doc.upload.url(:medium))
            %span= link_to doc.name, doc.upload.url(:original, false)


      %ul.inline-list
        %a{:style => "padding-left: 10px"}
        %i.general.foundicon-edit
        = link_to 'Editer le savoir', edit_knowledge_path(@knowledge)
        %a{:style => "padding-left: 10px"}
        %i.general.foundicon-remove
        = link_to 'Supprimer le savoir', @knowledge, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer ce savoir ?' }
        %a{:style => "padding-left: 10px"}
        %i.general.foundicon-left-arrow
        = link_to 'Retour à la liste des savoirs', knowledges_path

