%p#notice= notice

%p
  %b Titre:
  = @knowledge.title
%p
  %b Description:
  = @knowledge.description
%p
  %b Auteur:
  = @knowledge.author
%p
  %b Rédacteur:
  = @knowledge.user.fullname if @knowledge.user

= link_to 'Editer le savoir', edit_knowledge_path(@knowledge)
\|
= link_to 'Retour à la liste des savoirs', knowledges_path
