%p#notice= notice

%p
  %b Title:
  = @knowledge.title
%p
  %b Description:
  = @knowledge.description
%p
  %b Author:
  = @knowledge.author

= link_to 'Edit', edit_knowledge_path(@knowledge)
\|
= link_to 'Back', knowledges_path
