%header
  .one.columns
  .two.columns
    %h1= link_to image_tag("home/ecdys.png"), root_path
  .nine.columns
    %ul{:class => "nav-bar right"}
      %li= link_to "Accueil", root_path
      - if current_user
        %li= link_to "Mon profil", edit_user_registration_path(current_user)
        %li= link_to "Savoirs", knowledges_path
        %li= link_to "Actions", "#"
        %li.has-flyout
          = link_to "Métamorphose", "#"
          = link_to "", "#", :class => "flyout-toggle"
          %ul.flyout
            %li= link_to "Liste des oeufs", ideas_path
            %li= link_to "Liste des chenilles", caterpillars_path
            %li= link_to "Liste des chrysalides", "#"
            %li= link_to "Liste des papillons", "#"


      %li
        - if user_signed_in?
          = link_to 'Se déconnecter', destroy_user_session_path, :method => :delete
        - else
          = link_to 'Se connecter', new_user_session_path




