- idea_icon = image_tag "eggs_small.png"
- caterpillar_icon = image_tag "caterpillar_small.png"
- chrysalis_icon = image_tag "chrysalis_small.png"
- butterfly_icon = image_tag "butterflyb_small.png"
%header
  .one.columns
  .two.columns
    %h1= link_to image_tag("home/ecdys.png"), root_path
  .nine.columns
    %ul{:class => "nav-bar right"}
      %li= link_to "Accueil", root_path
      - if current_user
        %li.has-flyout
          = link_to "Paramètres", "#"
          = link_to "", "#", :class => "flyout-toggle"
          %ul.flyout
            %li= link_to "Mon profil", current_user
            %li= link_to "Mes défis", challenges_path
            %li= link_to "Gestion des taxons", taxon_rules_path
            %li= link_to "Gestion de la taxinomie", arrange_taxinomy_path
        %li= link_to "Savoirs", knowledges_path
        %li= link_to "Actions", tasks_path
        %li.has-flyout
          = link_to "Métamorphose", "#"
          = link_to "", "#", :class => "flyout-toggle"
          %ul.flyout
            %li= link_to "#{idea_icon} Liste des oeufs".html_safe, ideas_path
            %li= link_to "#{caterpillar_icon} Liste des chenilles".html_safe, caterpillars_path
            %li= link_to "#{chrysalis_icon} Liste des chrysalides".html_safe, chrysalis_path
            %li= link_to "#{butterfly_icon} Liste des papillons".html_safe, butterflies_path
        %li.has-flyout
          = link_to "Reporting", "#"
          = link_to "", "#", :class => "flyout-toggle"
          %ul.flyout
            %li= link_to "Dendogramme", dendogram_path
            %li= link_to "Diagramme de Sankey", sankey_path
            %li= link_to "Cercles enveloppés", pack_hierarchy_path



      %li
        - if user_signed_in?
          = link_to 'Se déconnecter', destroy_user_session_path, :method => :delete
        - else
          = link_to 'Se connecter', new_user_session_path




